h1 {color:#8B5A2B; font-family:cursive;}
html {background-color:#F5F5DC; text-align: center;}
p {color:black; font-family:sans-serif;}
li {color:#CDB79E;}
div,h2 {color:#8B5A2B}
span {color:#8B5A2B}
h2 {font-family:"Trebuchet MS"}







{li:CDB79E}
{div,h2:8B5A2B}
